.inputs {
  width: 60%;
  margin: auto;
}
.result {
  margin: auto;
}
.input {
  margin: 10px 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input__label {
  display: inline-block;

  width: 30%;
}
.input__field {
  width: 60%;
}
.string-result {
  display: flex;
  flex-direction: row;

  font-size: 30px;
  font-weight: bold;
}
.letter {
  width: 15px;
  margin: 0 5px;
}
.same-letter {
  color: #04a804;
}
