.content__form {
  width: 50%;
  margin: auto;
}

.border_box {
  padding: 20px;

  border: 1px solid #c2c2c2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  box-shadow: 1px 1px 4px #ebebeb;
}

.inputs {
  padding: 15px;
}
.header {
  margin-bottom: 10px;
  padding-bottom: 3px;

  border-bottom: 2px solid #ddd;

  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}
.input {
  margin: 10px 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  min-width: 370px;

  font: 13px Arial, Helvetica, sans-serif;
}
.input__label {
  display: inline-block;

  width: 35%;

  font-size: 15px;
  font-weight: bold;
}
.input__field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 60%;
  padding: 7px;

  outline: none;
}

.inputs input[type='submit'] {
  padding: 8px 15px 8px 15px;

  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background: #ff8500;
  -moz-box-shadow: 1px 1px 4px #dadada;
  -webkit-box-shadow: 1px 1px 4px #dadada;
  box-shadow: 1px 1px 4px #dadada;
  color: #fff;
}

.input__field:focus {
  border: 1px solid #0c0;
}
.form__button {
  float: right;

  margin-top: 15px;
}
.string-result {
  display: flex;
  overflow-x: auto;
  flex-direction: row;

  width: 100%;

  font-size: 30px;
  font-weight: bold;
}
.letter-box {
  margin-bottom: 10px;
}
.letter {
  width: 15px;
  margin: 0 5px;

  color: #ff4136;
  font: 20px Consolas, monospace, serif;
}
.same-letter {
  color: #04a804;
}

.result {
  max-width: 90vw;
  margin: auto;
}

.difference {
  margin-bottom: 10px;
}

.difference__value {
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
}
